@import "../../../styles/colors";
.input {
  border: 1px solid #d1d5db;
  border-radius: 6px;
  &.isFocused {
    border: 2px solid $color-primary;
    outline: none !important;
  }
}

.option {
  background-color: white;
  &.isFocused {
    background-color: #f3f4f6;
  }
  &.isSelected {
    background-color: $color-primary--50 !important;
    color: inherit;
  }
}
